/* Apply grid to the body */
body {
    display: grid;
    grid-template-rows: auto auto 1fr auto; /* header, nav, content, footer */
    min-height: 100vh;
    margin: 0;
    font-family: "Georgia", serif
  }
  
  /* Header */
  header {
    padding: 1rem;
    background-color: #556b2f;
    text-align: left;
    font-family: "Brush Script MT", cursive;
    color: #fffdd0;
  }
  
  /* Navigation */
  nav {
    background-color: #6b8e23;
  }
  /* Flexbox for nav items */
  nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly; /* equal spacing across */
  }
  
  nav a {
    color: #fffdd0;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Main content and sidebar */
  .content {
    display: grid;
    grid-template-columns: 3fr 1fr; /* main is bigger, sidebar smaller */
  }
  
  main {
    background-color: #f5f5dc;
    padding: 1rem;
    border: 2px solid #556b2f;
  }
  
  .sidebar {
    background-color: #fafad2;
    padding: 1rem;
    border: 2px solid #6b8e23;
  }
  
  /* Footer */
  footer {
    background-color: #556b2f;
    text-align: center;
    padding: 1rem;
    color: #fffdd0;
  }